<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <meta name="description" content="A microservice to validate a timestamp string and returns a JSON containing either timestamp or null">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Return client computer details
      </h1>
    </header>

    <main>
      <ul>Example usage:
        <li>Go to: <a href="https://easy-evening.gomix.me/api/whoami">
          <code>https://easy-evening.gomix.me/api/whoami</code>
          </a>
        </li>
      </ul>
      <ul>Example output:
        <li>
          <code>
            {
              "ipaddress": "178.101.59.213",
              "language": "en-US",
              "software": "Macintosh; Intel Mac OS X 10_12_1"
            }
          </code>
        </li>
      </ul>
    </main>

    <footer>
      <p>Developed by 
      <a href="https://github.com/dickyw71" target="_blank">Richard Wheatley</a> and 
      <a href="https://github.com/willnwhite" target="_blank">Will White</a> for
      <a href="https://www.freecodecamp.com/challenges/timestamp-microservice">Free Code Camp</a>
      </p>
    </footer>

  </body>
</html>
